@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

.all-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.top-left-container {
    position: absolute;
    top: 3.9rem;
    width: min(15vw, 15rem);        
    text-align: center;
}

#main {
    display: grid;
    box-shadow: #afafaf 0px 10px 36px 0px, #333333 0px 0px 0px 0.25px;
    width: 62rem;
    height: 52rem;
}

button {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    letter-spacing: 0.3px;
    width: 15rem;
    height: 5.5rem;
    border: none;
    outline: transparent;
    background-color: #d1d1d1;
    border-radius: 0.8rem;
    color: #333333;
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;
}

#toggleSquares:active,
#clearMode:active {
    filter: invert(100%);
}

button:hover {
    box-shadow: #333333 0px 1px 1px, #333333 0px 0px 0px 1px;    
    transform: translateY(-0.1.5em);
    transition: 0.1s;
}

#colorPicker {
    border: none;
    background-color: transparent;
    appearance: none;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 100%;
    border: 3px solid #d1d1d1;
}

#colorPicker:hover {
    transform: translateY(-0.1em);
    transition: 0.1s;
}

#subText {
    font-family: 'Akshar', sans-serif;
    font-size: 1.2rem;
    color: #3f3f3f;
}

/* Drop down section below: */
.drop-down {
    font-family: 'Akshar', sans-serif;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    user-select: none;
    position: absolute;
    width: min(15vw, 15rem);
    top: 4.1rem;
}   

.selections-container {
    background-color: #f5f5f5;
    color: #616161;
    width: 7rem;
    opacity: 0;
    visibility: hidden;
    transition: all 0.45s;
    overflow: hidden;
    order: 1;
}

.default {
    background: #f5f5f5;
    color: #3f3f3f;
    order: 0;
}

.default::after {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.active {
    max-height: auto;
    opacity: 1;
}

.selection,
.default {
    padding: 0.4rem;
}

.selection:hover {
    background: #d1d1d1;
    border-radius: 0.8rem;
}

.selections-container div {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .all-container {
        min-height: 100vh;
    }
    .drop-down,
    .top-left-container {
        position: absolute;
        display: none;
    }

    #main {
        box-shadow: #afafaf 0px 10px 36px 0px, #333333 0px 0px 0px 0.25px;
        width: min(45vw, 100rem);
        height: min(35vh, 100rem);
        margin-inline: auto;
    }
    
    button {
        height: 5.5rem;
        width: 6rem;
        padding: 1rem;
    }
}


@media only screen and (max-width: 320px) {
    .all-container {
        flex-direction: column;
    }
    
    .left-container {
        flex-direction: row;
    }
    
    .right-container {
        flex-direction: row;
    }

    .top-left-container {
        position: absolute;
        display: none;
    }
    
    #main {
        display: grid;
        box-shadow: #afafaf 0px 10px 36px 0px, #333333 0px 0px 0px 0.25px;
        width: 16rem;
        height: 25rem;
    }
    
    button {
        width: 6rem;
        height: 5.5rem;
        padding: 0.5rem;
    }

    #colorPicker,
    #subText,
    .default {
        visibility: hidden;
    }
}

@media only screen and (min-width: 600px) {
    .all-container {
        min-height: 100vh;
    }
    
    #main {
        box-shadow: #afafaf 0px 10px 36px 0px, #333333 0px 0px 0px 0.25px;
        width: min(50vw, 100rem);
        height: min(80vh, 100rem);
        margin-inline: auto;
    }
    
    button {
        height: 5.5rem;
        width: min(15vw, 15rem);
        padding: 1rem;
    }

    #subText {
        top: -3rem;
    }
}   

@media only screen and (max-height: 660px) {
    .drop-down,
    .top-left-container {
        position: relative;
        top: 0;
    }

    .top-left-container {
        margin-top: -4.1rem;
    }
}

@media only screen and (max-height: 480px) {
    .all-container {
        min-height: 100vh;
    }
    #main {
        box-shadow: #afafaf 0px 10px 36px 0px, #333333 0px 0px 0px 0.25px;
        width: min(50vw, 100rem);
        height: min(80vh, 100rem);
        margin-inline: auto;
    }
    
    button {
        height: 5.5rem;
        width: min(40vw, 15rem);
    }
    
    #colorPicker,
    #subText,
    .default {
        visibility: hidden;
    }

    .drop-down,
    .top-left-container {
        position: absolute;
    }
}